version: "3.7"

services:
    nextcloud:
        build: ./nextcloud
        depends_on:
         - "postgres"
         - "redis"
        environment:
         - "NEXTCLOUD_ADMIN_USER=kgolawski"
         - "NEXTCLOUD_ADMIN_PASSWORD=kgolawski"
         - "NEXTCLOUD_TABLE_PREFIX=nc_"
         - "NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.vpn"
         - "POSTGRES_DB=nextcloud"
         - "POSTGRES_HOST=postgres"
         - "POSTGRES_PASSWORD=nextcloud"
         - "POSTGRES_USER=nextcloud"
         - "REDIS_HOST=redis"
        networks:
         - "default"
         - "proxy"
         - "redis"
         - "postgres"
        restart: "unless-stopped"
        volumes:
         - "./nextcloud/html/:/var/www/html/:rw"
    nginx:
        depends_on:
         - "nextcloud"
        image: "nginx:stable"
        networks:
         - "default"
         - "proxy"
        ports:
         - "80:80"
         - "443:443"
        restart: "unless-stopped"
        volumes:
         - "./nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
         - "./nginx/conf.d/:/etc/nginx/conf.d/:ro"
         - "./nginx/ssl.d/:/etc/nginx/ssl.d/:ro"
         - "./nextcloud/html/:/var/www/nextcloud/:ro"
    postgres:
        environment:
         - "NEXTCLOUD_DB=nextcloud"
         - "NEXTCLOUD_PASSWORD=nextcloud"
         - "NEXTCLOUD_USER=nextcloud"
         - "PGDATA=/var/lib/postgresql/data/pgdata/"
         - "POSTGRES_PASSWORD=postgres"
         - "POSTGRES_USER=postgres"
        image: "postgres:latest"
        networks:
         - "postgres"
        restart: "unless-stopped"
        volumes:
         - "./postgres/init-nextcloud-db.sh:/docker-entrypoint-initdb.d/init-nextcloud-db.sh:ro"
         - "./postgres/data/:/var/lib/postgresql/data/:rw"
    redis:
        image: "redis:latest"
        networks:
         - "redis"
        restart: "unless-stopped"

networks:
    postgres:
        internal: true
    proxy:
        internal: true
    redis:
        internal: true
